<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiport.mapper.ArticleRecordMapper">

    <resultMap id="BaseResultMap" type="com.yiport.domain.entity.ArticleRecord">
        <id property="recordId" column="record_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
        <result property="isComment" column="is_comment" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,title,content,
        summary,category_id,thumbnail,
        is_comment,create_by
    </sql>
</mapper>
