<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiport.mapper.EditHistoryMapper">

    <resultMap id="BaseResultMap" type="com.yiport.domain.entity.EditHistory">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="BIGINT"/>
        <result property="timestamp" column="timestamp" jdbcType="VARCHAR"/>
        <result property="color" column="color" jdbcType="CHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,user_id,content,
        timestamp,color,icon,size,
        category_status,create_by,
        create_time,update_by,update_time,
        del_flag
    </sql>
</mapper>
