<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiport.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.yiport.domain.entity.Category">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="category_name" jdbcType="VARCHAR"/>
        <result property="pid" column="pid" jdbcType="BIGINT"/>
        <result property="description" column="category_description" jdbcType="VARCHAR"/>
        <result property="status" column="category_status" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,category_name,pid,
        category_description,category_status,create_by,
        create_time,update_by,update_time,
        del_flag
    </sql>
</mapper>
