<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiport.mapper.CollectionMapper">

    <resultMap id="BaseResultMap" type="com.yiport.domain.entity.Collection">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="article_id" column="article_id" jdbcType="BIGINT"/>
        <result property="create_by" column="create_by" jdbcType="BIGINT"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_by" column="update_by" jdbcType="BIGINT"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="del_flag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,article_id,create_by,
        create_time,update_by,update_time,
        del_flag
    </sql>

    <!--获取收藏文章列表-->
    <select id="getCollectList" resultType="com.yiport.domain.vo.ArticleListVO">
        SELECT art.id, art.title, art.summary, art.category_id, art.thumbnail
        FROM yp_collection col
                 LEFT JOIN yp_article art
                           ON col.article_id = art.id
        WHERE col.create_by = #{userId}
    </select>

</mapper>
